---
---

{% include styles/breakpoints.scss %}
{% include styles/helpers.scss %}
{% include styles/brand.scss %}

/* DEBUG */
/*
.container, .container-fluid { outline: 1px solid red }
.row { outline: 1px solid blue }
.card { outline: 1px solid black }*/

{% include styles/colors.scss %}
{% include styles/typography.scss %}

/* Masthead */

#header {
   padding: 1em 0;
   position: absolute;
   z-index: 999999;
   top: 0;
   left: 0;
   right: 0;
   background: #fff;
   background: rgba(255, 255, 255, 0.9);
   @include md() {
      position: fixed;
   }
}

.logo {
   margin: 0;

   a { display: block }

   img {
      display: inline-block;
      height: 3em;
   }
}

#header .logo {
   float: left;
}

#nav {
   float: right;
}

nav ul {
   display: table;
   margin: 0 -0.5em;
   padding: 0;
}

nav li {
   display: table-cell;
   vertical-align: middle;
   height: 3em;
}

nav a {
   display: block;
   padding: 0.5em;
   text-align: center;
}

.highlight {
   background: #fff;
   border-radius: 0.9em;
}
/* MAIN */
#body, #options, #form {
   padding: 2em 0;
}
/* Heading */

#hero {
   background-repeat: no-repeat;
   background-position: center bottom;
   background-attachment: scroll;
   background-size: cover;
   @include lg() {
      background-size: $lg-break * 1.1;
   }
}

#hero-box {
   text-align: center;
   padding: 12em 0 7em;
   background: rgba(255, 255, 255, 0.25);
   background: -webkit-radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
   background: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
   @include lg() {
      padding: 15em 0 10em;
   }
}

#intro {
   font-size: 110%;
}

#h1, #intro {
   text-shadow: 0 0 3em #fff, 0 0 2em #fff, 0 0 1em #fff, 0 0 0.5em #fff
}

.offset {
   background: lighten($color-1, 40%);
}

/* Options */
#options, #form-box {
   position: relative;
}

.callout {
   background: $color-1;
   padding: 0.8em;
   color: $color-1-neg;
   position: absolute;
   top: -1.8em;
}

.more {
   font-size: 80%;
   font-weight: bold;
   text-align: right;
   position: absolute;
   bottom: 1.5em;
   right: 2em;
}

.more {
   a {
      padding-right: 1em;
      background: transparent url("/assets/images/tri.svg") right/0.6em no-repeat scroll;
   }

   #{a('base')} {
      color: $color-1;
   }

   #{a('hover')} {
      color: $color-1-lt;
   }
}

/* Body */

.body img {
   display: block;
   max-width: 100%;
}

.body p img { width: 100% }

table {
   max-width: 100%;
   border-collapse: collapse;
}
td, th {
   padding: 0.25em 0.75em;
   border: 0.05em solid darken($color-bg, 25%);
   text-align: left;
   vertical-align: top;
}

/* Forms */

#form-box {
   background-color: $color-1;
   margin-top: 2em
}
#form {
   padding-top: 4em;
   background-color: $color-bg
}
#form-box .callout {
   top: -3.5em
}

/* FOOTER */

#footer {
   padding: 1em 0;
   position: relative
}
#footer .logo {
   text-align: center;

   @include md() {
      float: right;
   }
}

.legal {
   clear: both;
   margin: 1em 0;
   font-size: 90%;
}

#top_link {
   position: absolute;
   top: -1.3em
}


/* CARDS */
.card {
   padding: 1em;
   margin: 1em 0;
   overflow-wrap: break-word;

   h3 {
      margin-bottom: 0.5em
   }
}
/* SPECIAL */
.link {
   cursor: pointer;
}

.chunk {
   white-space: nowrap;
}
