<!DOCTYPE html>
<html class="no-js" lang="en-GB">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% if page.hidden %}<meta name="robots" content="NOINDEX, NOFOLLOW" />{% endif %}
		{% include snippets/gtm.html pos="head" uid="" %}<!-- must be high as possible in <head> -->

		<!-- SEO -->
		{% include snippets/seo.liquid %}
		<title>{{ page_title | escape }}</title>
		<meta name="description" content="{{ page_description | escape }}" />

		<!-- STYLES -->
		<link rel="stylesheet" href="/assets/styles/libraries/normalize/normalize.css" />
		<link rel="stylesheet" href="/assets/styles/libraries/boilerplate/boilerplate.css" />
		<link rel="stylesheet" href="/assets/styles/libraries/bootstrap/bootstrap-grid.css" />
		<link rel="stylesheet" href="/assets/styles/main.css" />
		{% if page.form_html %}<link rel="stylesheet" href="/assets/styles/forms.css" />{% endif %}

		<!-- SCRIPTS -->
		{% include snippets/scripts.html %}

		<!-- OTHER -->
		{% include snippets/compatibility.html %}
		{% include snippets/verify.html %}
		{% include snippets/favicon.html %}
	</head>
	<body id="top">
		{% include snippets/gtm.html pos="body" uid="" %}<!-- must be immediately after <body> -->
		{% include snippets/browser.html %}

		<!-- SITE WIDE -->
		<header id="header" role="banner" class="positive">

			<div class="container">
				<p class="logo"><a href="/" title="Home">{% include helpers/img.html src="/assets/images/epito.png" alt="Epito" %}</a></p>
				<!-- SITE NAV -->
				<nav id="nav" role="navigation">
					<ul>
						<li class="visuallyhidden focusable"><a href="#main">Skip to Content</a></li>
						{% for item in site.data.menu.main %}
						<li>{% include helpers/link.html href=item.link text=item.title fail='dead' %}</li>
						{% endfor %}
						<li><a class="highlight" href="/contact">Contact</a></li>
					</ul>
				</nav>
			</div>

		</header>
		<!-- PRIMARY CONTENT -->
		<main id="main">
			<section role="main">
				<article role="article">
					<header class="{% unless home or page.image.size > 0 %}offset {% endunless %}positive" id="hero"{% if page.image.size > 0 %} style="background-image: url('{% include helpers/img.html src=page.image.url src_only=true format='hero' %}')"{% endif %}>
						<div id="hero-box">
							<div class="container">
								<h1 id="h1" role="heading">{{ page.heading | default: page.title | markdownify_inline }}</h1>
								{% if page.blurb %}
									<div id="intro">
										{{ page.blurb | markdownify }}
									</div>
								{% endif %}
							</div>
						</div>
					</header>
					{% if page.links.size > 0 %}
					<aside id="options">
						<div class="container">
							{% if page.links_heading.size > 0 %}
								<h2 class="callout">{{ page.links_heading | markdownify_inline }}</h2>
							{% else %}
								<h2 class="visuallyhidden">Menu</h2>
							{% endif %}
							<div class="clearfix"></div>
							<div class="row">
								{% for link in page.links %}
									<div class="col-sm-6 col-md-4">
										<div class="card grid link negative">
											<section>
												<h3>{% include helpers/link.html href=link.link text=link.title %}</h3>
												<p>{{ link.blurb | markdownify_inline }}</p>
												<p class="more">{% include helpers/link.html href=link.link text='Learn more' fail='empty' %}</p>
											</section>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</aside>
					{% endif %}
					{% assign content = content | strip %}
					{% if content.size > 0 %}
					<section id="body" class="body positive {% if home or page.links.size > 0 %} offset{% endif %}">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
									{{ content | imgify }}
								</div>
							</div>
						</div>
					</section>
					{% endif %}
				</article>
			</section>
			<!-- <section role="complementary"> -->
			{% if page.form.size > 0 %}
			<section id="form-box" role="complementary">
				<div class="container">
					<div class="row" id="form">
						<div class="col-md-8 col-md-offset-2">
							{% if page.form.heading.size > 0 %}
								<h2 class="callout">{{ page.form.heading | markdownify_inline }}</h2>
							{% else %}
								<h2 class="visuallyhidden">Form</h2>
							{% endif %}
							{{ page.form.html }}
						</div>
					</div>
				</div>
			</section>
			{% endif %}
		</main>
		<!-- /PRIMARY CONTENT -->
		<footer id="footer">
			<div class="container">
				<p class="logo"><a href="/" title="Home">{% include helpers/img.html src="/assets/images/epito-white.png" alt="Epito" %}</a></p>
				<nav>
					<ul>
						<li id="top_link" class="positive"><a class="highlight" href="#top" title="Back to Top of Page">Top</a></li>
						{% for item in site.data.menu.footer %}
						<li class="negative">{% include helpers/link.html href=item.link text=item.title fail='dead' %}</li>
						{% endfor %}
					</ul>
				</nav>
				{% if site.data.settings.footer %}
				<div class="legal negative">
					{{ site.data.settings.footer | markdownify }}
				</div>
				{% endif %}
			</div>
		</footer>
		<!--
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="/assets/scripts/libraries/jquery/jquery-plugins.js"></script>
		<script src="/assets/scripts/libraries/matchheight/matchHeight.jquery.js"></script>
		<script src="/assets/scripts/main.js"></script>
		//-->
		<script>
			<!--
			head.ready('webfont', function() {
				WebFont.load({
					google: {
						families: ['Didact Gothic']
					}
				});
			});
			//-->
		</script>
	</body>
</html>
