<!DOCTYPE html>
<html class="no-js" lang="en-GB">
	<head>
		<meta charset="utf-8" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% if page.robots %}<meta name="robots" content="{{ page.robots }}" />{% endif %}
		{% include snippets/gtm.html pos="head" uid="" %}<!-- must be high as possible in <head> -->

		<!-- SEO -->
		{% if page.name == 'index.md' %}{% assign home = true %}{% else %}{% assign home = false %}{% endif %}
		{%- if page.collection %}
			{% assign section = site.collections | where:'label',page.collection | first %}
		{% endif %}
		{% assign sep = site.data.settings.seo.separator %}
		{%- capture page_title -%}
			{{ site.data.settings.name | default: site.title }}
			{%- if section and section.title != 'Services' %} {{ sep }} {{ section.title }}{%- endif -%}
			{%- if page.seo.title or site.data.settings.seo.title or page.title %} {{ sep }} {% if page.seo.title -%}
					{{ page.seo.title }}
				{%- elsif page.title -%}
					{{ page.title }}
				{%- elsif site.data.settings.seo.title -%}
					{{ site.data.settings.seo.title }}
				{%- endif -%}
			{%- endif -%}
			{%- if site.data.settings.seo.suffix.size > 0 %} {{ sep }} {{ site.data.settings.seo.suffix }}{%- endif -%}
		{%- endcapture -%}
		{%- capture page_description -%}
			{%- if page.seo.description -%}
				{{ page.seo.description }}
			{%- elsif page.excerpt -%}
				{{ page.excerpt | markdownify | strip_html | truncatewords: 50 }}
			{%- endif %} {{ site.data.settings.seo.description }}
		{%- endcapture -%}
		<title>{{ page_title | escape | replace: '·','&middot;' }}</title>
		<meta name="description" content="{{ page_description | escape }}" />

		<!-- STYLES -->
		<link rel="stylesheet" href="/assets/styles/libraries/normalize/normalize.css" />
		<link rel="stylesheet" href="/assets/styles/libraries/boilerplate/main.css" />
		<link rel="stylesheet" href="/assets/styles/libraries/bootstrap/bootstrap-grid.css" />
		<link rel="stylesheet" href="/assets/styles/main.css" />

		<!-- SCRIPTS -->

		<script type="text/javascript" src="/assets/scripts/libraries/head/head.load.min.js"></script>
		<script type="text/javascript">
			head.load('https://code.jquery.com/jquery-3.2.1.slim.min.js', function(){
				if(typeof jQuery === 'undefined'){
					head.load('/assets/scripts/libraries/jquery/jquery-3.2.1.slim.min.js');
				};
				head.load('/assets/scripts/libraries/jquery/jquery-plugins.js');
				head.load('/assets/scripts/libraries/matchheight/matchHeight.jquery.js');
				head.load('/assets/scripts/main.js');
			});
		</script>

		<!--
		<script type="text/javascript" src="/assets/scripts/libraries/lab/lab.min.js"></script>
		<script type="text/javascript">
			$LAB /*.setOptions({BasePath: '/assets/scripts/'})*/
				.script('https://code.jquery.com/jquery-3.2.1.slim.min.js').wait(function(){
					if(typeof jQuery === 'undefined'){ $LAB.script('/assets/scripts/libraries/jquery/jquery-3.2.1.slim.min.js'); }
				})
				.script('/assets/scripts/libraries/jquery/jquery-plugins.js').wait()
				.script('/assets/scripts/libraries/matchheight/matchHeight.jquery.js').wait()
				.script('/assets/scripts/main.js');
		</script>
		//-->

		<!-- OTHER -->
		{% include snippets/compatibility.html %}
		{% include snippets/verify.html %}
	</head>
	<body>
		{% include snippets/gtm.html pos="body" uid="" %}<!-- must be immediately after <body> -->
		{% include snippets/browser.html %}

		<header id="top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="card grid">
							Heading
						</div>
					</div>
				</div>
			</div>
		</header>
		<main id="main">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="card grid">
							{{ content }}
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="card grid">
							Footer
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/libraries/jquery/jquery-plugins.js"></script>
		<script type="text/javascript" src="/assets/scripts/libraries/matchheight/matchHeight.jquery.js"></script>
		<script type="text/javascript" src="/assets/scripts/main.js"></script>
		//-->
	</body>
</html>
